body {
    font-family: Arial, sans-serif;
}

/* Danceability slider */
#dance-slider .rc-slider-track {
    background-color: #b2df8a;
}
#dance-slider .rc-slider-rail {
    background-color: lightgray;
}
#dance-slider .rc-slider-handle {
    border-color: #b2df8a;
}

/* Energy slider */
#energy-slider .rc-slider-track {
    background-color: #33a02c;
}
#energy-slider .rc-slider-rail {
    background-color: lightgray;
}
#energy-slider .rc-slider-handle {
    border-color: #33a02c;
}

/* Preference slider */
#pref-slider .rc-slider-track {
    background-color: #fb9a99;
}
#pref-slider .rc-slider-rail {
    background-color: lightgray;
}
#pref-slider .rc-slider-handle {
    border-color: #fb9a99;
}